body{
  
    background-color: #222831 ;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 48px 96px;
    border-bottom: 1px solid rgba(238, 238, 238, 10%);
}
.navigation .nav{
    display: flex;
    gap: 18px;
    text-decoration: none;
}
.p{
   position: relative;
   right: 667;
   left: 187;
    color: white;
}
.colors{
    color: #fff;
}
.color{
    color: #00ADB5;
}

.flex{
    display: flex;
    justify-content: center;
   margin-left: 900px;
    margin-top: 372;
   

    
}
.size{
    font-size: 64px;
    font-weight: bold;
    color: white;
}


    

.button1{
    background-color: #00ADB5;
    padding: 10px 32px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 24px;

    

}
.button2{
    background-color: #393E46;
    padding: 10px 32px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 24px;
    
}
.flex3{
    margin-right: 354px;
}
.flex4{
    margin-top: 303px;
    display: flex;
    gap: 97px;
}
.flex2{
    display: flex;
   justify-content: space-around;
    gap: 124px;

}
.margin{
    margin-left: 905px;
    margin-bottom: 1000px;
    margin-top: -500px;
}
.navigation .menu-items{
    display: flex;
    font-size: 18px;
    color: #fff;
   
}
section{
    display: flex;
    justify-content: space-around;
    gap: 179px;
    height: 100vh;
}
.p{
    font-size: 64px;
    font-weight: bold;
    color: #fff;
}
span{
    color: #00ADB5;
}
.desc{
    width: 450px;
}
.text{
    background-image: url(./Group\ 2376.png);
    background-repeat: no-repeat;
}

.margin-top{
    margin-left: 705px;
    margin-bottom: 1000px;
   
}
.margin2{
   position: relative;
   bottom: 400px;
}
.flex{
   
    
}
.margin3{
    position: relative;
    bottom: 500px;
    left: 118px;
}

.button3{
    background-color: #00ADB5;
    padding: 10px 32px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 24px;   
    margin-bottom:500px ;
    margin-top:500px;
    position: absolute;
    left: 900px;
}
 .size{
    font-size: ;
    width: 48px;
    height: 48px;
 }
